﻿@model Prueba_Tecnica.Models.SALARIO

@{
    ViewBag.Title = "Eliminar empleado";
}

<h2>Eliminar empleado</h2>

<h3>Estas seguro de querer eliminar esta información?</h3>
<div>
    <h4>Información del empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALARIO_BRUTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARIO_BRUTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTO_DEDUCIBLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO_DEDUCIBLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PENSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PENSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMBARGO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMBARGO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMBARGO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMBARGO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REBAJO_PENSION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REBAJO_PENSION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REBAJO_EMBARGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REBAJO_EMBARGO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
