﻿@model IEnumerable<Prueba_Tecnica.Models.SALARIO>

@{
    ViewBag.Title = "Lista de empleados";
}

<h2>Lista de empleados</h2>

<p>
    @Html.ActionLink("Crear otro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALARIO_BRUTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MONTO_DEDUCIBLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PENSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMBARGO1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMBARGO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REBAJO_PENSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REBAJO_EMBARGO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALARIO_BRUTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MONTO_DEDUCIBLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PENSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMBARGO1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMBARGO2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REBAJO_PENSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REBAJO_EMBARGO)
        </td>
        <td>
            @Html.ActionLink("Borrar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
